<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <%- include('partials/head')%>
</head>

<body>

    <%- include('partials/navigation') %>

        <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
            <section>
                <h1 class="display-1">
                    About
                </h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quo alias explicabo dicta praesentium
                    harum, illo repellat deleniti iste neque impedit voluptates expedita similique modi quam et
                    doloremque cupiditate temporibus non doloribus atque earum? Quasi illo dolorem, perferendis magnam
                    molestias, vitae voluptate laboriosam cum dolorum quos architecto laborum consectetur? Nesciunt,
                    blanditiis hic. Voluptatum dolore natus omnis eum nulla quos assumenda earum modi voluptatem
                    veritatis aspernatur necessitatibus pariatur molestiae repellendus enim, minus accusamus rerum quo
                    sit explicabo ducimus? Perferendis, consequatur at obcaecati omnis illo unde dolorum suscipit ea
                    atque maiores sint inventore dolore quod tempora mollitia officia praesentium dolorem velit, itaque
                    veniam repellat sequi distinctio perspiciatis. Et placeat nisi accusamus odio tenetur quibusdam
                    dolore, ratione sed, deleniti dignissimos dolorem praesentium eligendi vel temporibus dolores fugit
                    eos accusantium architecto. Quis laborum incidunt ullam corporis? Nemo facilis neque eum ea illo
                    sint temporibus maxime, animi veniam consequuntur tenetur corporis minus dolore est officia, vero
                    reprehenderit, labore quisquam ipsa numquam a. Omnis, voluptate excepturi? Quam placeat eveniet
                    porro, asperiores nemo a neque sed quia voluptate pariatur facere dicta totam. Itaque magnam
                    consequuntur corrupti error, eaque fuga doloremque perspiciatis unde laborum suscipit nisi?
                    Doloribus nemo iure ipsa laboriosam nam assumenda magni eligendi id vel odio, ut commodi, ratione
                    libero, reprehenderit perferendis distinctio ipsum incidunt corrupti tempore harum. Perferendis
                    mollitia natus modi velit quae beatae fugit eum a placeat inventore reprehenderit vel, nesciunt
                    ullam enim aliquam perspiciatis, nam adipisci sed amet vitae! At fuga placeat mollitia earum modi
                    quos excepturi, iusto neque. Porro necessitatibus sapiente ipsam reprehenderit aut adipisci eum
                    consectetur dolor voluptas, id alias, accusantium laudantium, numquam tenetur. Dolores dolorum
                    deleniti quam id expedita fugit, veritatis quae aliquid quibusdam veniam commodi quia dolor itaque
                    facilis totam at, quaerat doloremque iusto sed, libero excepturi voluptatum suscipit consectetur?
                    Labore, necessitatibus qui alias voluptas excepturi quas blanditiis maiores.</p>
            </section>
        </main>
        <%- include('partials/footer')%>
</body>

</html>